<div *ngIf="!registrationMode" class="container mt-5">
    <div style="text-align: center;">
        <h1>Find your match!</h1>
        <p class="lead">Just register to find your partner...</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg me-2" (click)="btnToggle()">Register</button>
            <button class="btn btn-primary btn-lg me-2">Learn More</button>
        </div>
    </div>
</div>
<div *ngIf="registrationMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
           <app-register (toHomeComponent)="cancelRegister($event)"></app-register> <!-- [usersFromHomeComponent]="users" -->
        </div>
    </div>
</div>
